<td>
    <div id="container" class="sixteen columns container_dinamic fondo_container" style="height: 100%;">
        <div id="wrapperDetails">
            <table class="tableDetails" width="100%">
                <tbody>
                    <tr style="background: #970000;"></tr>
                    <tr>
                        <td onclick="radioPredictions(1)" id="escudoAPredictions" style="text-align: center;" class="">
                            <img src="img/banderas/brasil_bandera.jpg" class="banderaEquiposDetalles">
                        </td>
                        <td></td>
                        <td onclick="radioPredictions(3)" id="escudoBPredictions" style="text-align: center;">
                            <img src="img/banderas/brasil_bandera.jpg" class="banderaEquiposDetalles">
                        </td>
                    </tr>
                    <tr style="background: #970000;">
                        <td onclick="radioPredictions(1)" id="resultadoAPredictions" width="45%" class="center font_result_Details ">1</td>
                        <td onclick="radioPredictions(2)" id="medioPredictions" width="10%" class="center borderLeftRightDetails fontEstatusDetails">
                            <div>F</div>
                        </td>
                        <td onclick="radioPredictions(3)" id="resultadoBPredictions" width="45%" class="center font_result_Details">2</td>
                    </tr>
                    <tr style="background: #970000; color: white;">
                        <td onclick="radioPredictions(1)" id="nameAPredictions" class="center nameAB">Perth Glory</td>
                        <td onclick="radioPredictions(2)" id="estatusPredictions" class="center minCenter borderLeftRightDetails"></td>
                        <td onclick="radioPredictions(3)" id="nameBPredictions" class="center nameAB">Adelaide United</td>
                    </tr>
                    <tr>
                        <td class="center tdDetailsTop" colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="center halftime" colspan="3">Half-Time (1 - 1)</td>
                    </tr>
                    <tr id="detailsTR">
                        <td class="center tdDetails" colspan="3">Details</td>
                    </tr>
                    <tr id="detailsTR">
                        <td class="center" colspan="3">
                            <table id="tableDataDetails" class="dataDetails" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="min" width="6%">11'</td>
                                        <td class="borderBottomTd" width="40%">
                                            <div class="ply tright">
                                                <div>
                                                    <span class="name">Nebojsa Marinkovic</span>
                                                    <span class="ml4"></span>
                                                    <span class="inc goal"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="scoBorderTd" width="13%">
                                            <div class="sco"> 1 - 0 </div>
                                        </td>
                                        <td class="borderBottomTd" width="40%">
                                            <div class="ply">
                                                <div>
                                                    <span class=""></span>
                                                    <span class="mr4"></span>
                                                    <span class="name"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="min" width="6%">31'</td>
                                        <td class="borderBottomTd" width="40%">
                                            <div class="ply tright">
                                                <div>
                                                    <span class="name"></span>
                                                    <span class="ml4"> </span>
                                                    <span class=""></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="scoBorderTd" width="13%">
                                            <div class="sco">1 - 1</div>
                                        </td>
                                        <td class="borderBottomTd" width="40%">
                                            <div class="ply">
                                                <div>
                                                    <span class="inc goal"></span>
                                                    <span class="mr4"> </span>
                                                    <span class="name">Craig Goodwin</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="min" width="6%">48'</td>
                                        <td class="borderBottomTd" width="40%">
                                            <div class="ply tright">
                                                <div>
                                                    <span class="name"></span>
                                                    <span class="ml4"> </span>
                                                    <span class=""></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="scoBorderTd" width="13%">
                                            <div class="sco">1 - 2</div>
                                        </td>
                                        <td class="borderBottomTd" width="40%">
                                            <div class="ply">
                                                <div>
                                                    <span class="inc goal"></span>
                                                    <span class="mr4"> </span>
                                                    <span class="name">James Alexander Jeggo</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</td>
