<div class="topcoat-tab-bar full">
    <label onclick="window.location.href='#/'" class="topcoat-tab-bar__item">
        
        <button id="matches" onclick="removeClass('is-active'); addClass(this,'is-active');" class="topcoat-tab-bar__button full is-active">
            <div class="icono_footer"><i class="fa fa-futbol-o"></i></div>
            <div class="text_footer">Matches</div>
        </button>
    </label>
    <label onclick="events();" class="topcoat-tab-bar__item">
        
        <button id="events" onclick="removeClass('is-active'); addClass(this,'is-active');" class="topcoat-tab-bar__button full">
            <div class="icono_footer"><i class="fa fa-bell"></i></div>
            <div class="text_footer">Events</div>
        </button>
    </label>
    <label onclick="profile();" class="topcoat-tab-bar__item">
        
        <button id="profile" onclick="removeClass('is-active'); addClass(this,'is-active');" class="topcoat-tab-bar__button full">
            <div class="icono_footer"><i class="fa fa-bar-chart"></i></div>
            <div class="text_footer">Profile</div>
        </button>
    </label>
    <label onclick="rank();" class="topcoat-tab-bar__item">
        
        <button id="rank" onclick="removeClass('is-active'); addClass(this,'is-active');" class="topcoat-tab-bar__button full">
            <div class="icono_footer"><i class="fa fa-trophy"></i></div>
            <div class="text_footer">Rank</div>
        </button>
    </label>
    <label onclick="settings();" class="topcoat-tab-bar__item">
        
        <button id="settings" onclick="removeClass('is-active'); addClass(this,'is-active');" class="topcoat-tab-bar__button full">
            <div class="icono_footer"><i class="fa fa-cogs"></i></div>
            <div class="text_footer">Settings</div>
        </button>
    </label>
</div>
<div class="info_footer">
    <p class="font_info_footer">AlertoSoccer is sponsored by RTScores.com</p> 
</div>   