<td>                      
    <div id="container" class="sixteen columns container_dinamic fondo_container" style="height: 100%;">
        <div id="wrapperDetails">
            <div align="center" id="scroller" class="busqueda red">
                <input id="searchbox" class="search" placeholder="Search">
                <div id="popup" class="popup"></div>
                <div id="formCalendar" class="popup"></div>
                <div id="wrapper">
                    <ul id="lista" class="list"></ul>
                </div>
            </div>
        </div>
    </div>
</td>