<td>
    <div class="sixteen columns header">
        <div class="logo"> 
            <img onclick="borrarVariablesLocales();" src="img/logos/logo.png" width="38px" height="33px">
        </div>
        <div id="iconos" class="iconos">
            {{#eq header 'games'}}
            <div id="returFechaActual" style="display: none;" onclick="ds_hi(); window.location.href='#/'" class="date font_iconos">
                <i class="fa fa-times"></i> 
            </div>
            <div id="showCalendar" onclick="app.showCalendar(this);" class="date font_iconos">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="favorites font_iconos">
                <i onclick="resetLocalStorageControlDinamico(); favoritesMatches(); ds_hi();" class="fa fa-star color_carnesi"></i>
            </div>
            <div id="all_live" class="live font_iconos">
                <i onclick="window.location.href='#/isLive'" class="fa fa-fire"></i>
            </div>
            {{else}}
            {{#eq header 'classif'}}
            <div id="all_live" class="font_iconos">
                <i onclick="history.go(-1);" id="all_list" class="fa fa-reply-all"></i>
            </div>
            {{/eq}}
            {{/eq}}
        </div>
    </div>
</td>